<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Dog Dashboard</h1>
<h2>List of all dogs</h2>


<table border=1>
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% for (var x in dog) { %>
        <tr>
            <td><a href='/dogs/<%= dog[x].id %>'> <%= dog[x].name %> </a> </td>
            <td><%= dog[x].breed %></td>
            <td><%= dog[x].color %></td>
            <td>
                <form action='/dogs/delete/<%=dog[x].id%>' method='post'>
                    <button>Delete</button>
                </form>
            </td>
        </tr>
    <% } %>
    </tbody>
    </table>
<br><br>
<a href='/dogs/new'><button>Create a new dog</button></a>
</body>
</html>